<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

    <main>
        <div class="jumbotron">
            <h3>My Favorite Movies</h3>
            <ul> 
            <li><%=movie1 %> </li>
            <li><%=movie2 %> </li>
            <li><%=movie3 %> </li>
            <li><%=movie4 %> </li>
            </ul>
        </div>

    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>