<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

    <main>
        <div class="jumbotron">
            <h3>My Favorite TV shows</h3>
            <ul> 
            <li><%=tvShow1 %> </li>
            <li><%=tvShow2 %> </li>
            <li><%=tvShow3 %> </li>
            <li><%=tvShow4 %> </li>
            </ul>
        </div>

    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>